<!doctype html>
<html>
    <head>
        <title>Adicionar Fornecedor - Sistema de Estoque</title>
        <link rel="stylesheet" href="{{ url_for('fornecedores_bp.static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('fornecedores_bp.static', filename='css/fornecedores/adicionar.css') }}">
    </head>
    <body>
        <div class="cabecalho">
            <a href="{{ url_for('fornecedores_bp.index') }}">
                <button>Fornecedores</button>
            </a>
            <a href="/estoques">
                <button>Estoque</button>
            </a>
            <a href="">
                <button>Compras</button>
            </a>
            <a href="">
                <button>Gastos</button>
            </a>
            <a href="/perfil" id="perfil">
                <img src="{{ url_for('fornecedores_bp.static', filename='img/perfil.png') }}" alt="Perfil">
            </a>
        </div>
        <hr>
        <div>
            <h2>Cadastrar Fornecedor</h2>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.fornecedor.label }}<br>
                    {{ form.fornecedor(size=32) }}
                </p>    
                <p>
                    {{ form.produto.label }}<br>
                    {{ form.produto(size=32) }}
                </p>
                <p>
                    {{ form.preco.label }}<br>
                    {{ form.preco(size=32) }}
                </p>
                <p>
                    {{ form.numero_de_contato.label }}<br>
                    {{ form.numero_de_contato(size=32) }}
                </p> 
                <p>{{ form.botao_cadastrar() }}</p>
            </form>
        </div>
    </body>
</html>
