<!doctype html>
<html>
    <head>
        <title>Estoque - Sistema de Estoque</title>
        <link rel="stylesheet" href="{{ url_for('estoque_bp.static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('estoque_bp.static', filename='css/adicionar.css') }}">
    </head>
    <body>
        <div class="cabecalho">
            <a href="/fornecedores">
                <button>Fornecedores</button>
            </a>
            <a href="/estoques">
                <button>Estoque</button>
            </a>
            <a href="">
                <button>Compras</button>
            </a>
            <a href="">
                <button>Gastos</button>
            </a>
            <a href="/perfil" id="perfil">
                <img src="{{ url_for('estoque_bp.static', filename='img/perfil.png')}}" alt="Perfil">
            </a>
        </div>
        <hr>
        <div>
            <h2>Editar Estoque</h2>
            <form method="post" action="" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.produto.label }}<br>
                    {{ form.produto(size=32) }}
                </p>
                <p>
                    {{ form.fornecedor.label }}<br>
                    {{ form.fornecedor }}
                </p>
                <p>
                    {{ form.quantidade.label }}<br>
                    {{ form.quantidade(size=32) }}
                </p>
                <p>{{ form.botao_alterar() }}</p>
            </form>
        </div>
    </body>
</html>
