<!doctype html>
<html>
    <head>
        <title>Estoque - Sistema de Estoque</title>
        <link rel="stylesheet" href="{{ url_for('estoque_bp.static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('estoque_bp.static', filename='css/estoque.css') }}">
    </head>
    <body>
        <div class="cabecalho">
            <a href="/fornecedores">
                <button>Fornecedores</button>
            </a>
            <a href="/estoques">
                <button>Estoque</button>
            </a>
            <a href="">
                <button>Compras</button>
            </a>
            <a href="">
                <button>Gastos</button>
            </a>
            <a href="/perfil" id="perfil">
                <img src="{{ url_for('estoque_bp.static', filename='img/perfil.png')}}" alt="Perfil">
            </a>
        </div>
        <hr>
        <div>
            <table border="1">
                <tr>
                    <td>id</td>
                    <td>Produto</td>
                    <td>Fornecedor/s</td>
                    <td>Quantidade</td>
                    <td></td>
                </tr>
                {% for estoque in estoques %}
                <tr> 
                    <td>{{ estoque.id }}</td>
                    <td>{{ estoque.nome_produto }}</td>
                    <td>{{ estoque.nome_fornecedor }}</td>
                    <td>{{ estoque.quantidade }}</td>
                    <td class="acao">
                        <a href="{{ url_for('estoque_bp.editar_estoque', id=estoque.id) }}">
                            <img src="{{ url_for('estoque_bp.static', filename='img/edicao.png') }}" alt="Edição">
                        </a>
                        <a href="{{ url_for('estoque_bp.excluir_estoque', id=estoque.id) }}"
                        onclick="return confirm('Tem certeza que deseja excluir este estoque?');">
                            <img src="{{ url_for('estoque_bp.static', filename='img/lixeira.png')}}" alt="Lixeira">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <a href="{{ url_for('estoque_bp.adicionar_estoque') }}" class="adicionar">
                <img src="{{ url_for('estoque_bp.static', filename='img/adicionar.png')}}" alt="Adicionar">
            </a>
        </div>
    </body>
</html>
