/* Estilo geral para o formulário */
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os rótulos dos campos */
form p label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Estilo para os campos de entrada de texto e seleção */
form p input[type="text"],
form p select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Estilo para o botão de submissão */
form p input[type="submit"] {
    background-color: #333333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

form p input[type="submit"]:hover {
    background-color: #4e4e4e;
}

/* Media Queries para Responsividade */

/* Para telas com largura máxima de 768px */
@media (max-width: 768px) {
    h2 {
        font-size: 22px;
    }
    form {
        padding: 15px;
        margin: 15px auto;
    }
    form p input[type="text"],
    form p select {
        padding: 7px;
        font-size: 13px;
        margin-bottom: 12px;
    }
    form p input[type="submit"] {
        padding: 8px 16px;
        font-size: 14px;
    }
}

/* Para telas com largura máxima de 480px */
@media (max-width: 480px) {
    h2 {
        font-size: 20px;
    }
    form {
        padding: 10px;
        margin: 10px auto;
    }
    form p input[type="text"],
    form p select {
        padding: 6px;
        font-size: 12px;
        margin-bottom: 10px;
    }
    form p input[type="submit"] {
        padding: 6px 12px;
        font-size: 12px;
    }
}
